.tableauPlaceholder,
.tableauViz {
    width: 100%;
    height: 75vh;
}

.tableauViz {
    display: none;
}

.nav-link {
    color: var(--bs-gray-900) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-secondary);
}